$media-query-tablet      = 'only screen and (min-width: 760px) and (max-width: 1000px)'
$media-query-mobile      = 'only screen and (max-width: 760px)'
$media-query-mobile-wide = 'only screen and (min-width: 480px) and (max-width: 760px)'