// —————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
// COLOR PALETTE
// —————————————————————————————————————————————————————————————————————————————————————————————————————————————————————
$accent-color               = #e25d47

$main-background-color      = #eee
$card-background-color      = #fff
$mini-nav-background-color  = #fff
$main-text-color            = #000
$header-background-color    = $accent-color
$sidebar-background-color   = #e1ebff
$sidebar-background-color   = lighten($sidebar-background-color, 2)
$code-background-color      = #ddd
$code-text-color            = #2d383d
$title-text-color           = $accent-color
$button-background-color    = $accent-color
$table-odd-background-color = #eee
$chart-meta-color           = #889eae
$links-color                = $accent-color

$code-number-color          = #eb8404
$code-string-color          = #199384


/*
$accent-color               = #d4442d

$main-background-color      = #15181a
$card-background-color      = #000
$mini-nav-background-color  = #000
$main-text-color            = #fff
$header-background-color    = $accent-color
$sidebar-background-color   = #e1ebff
$sidebar-background-color   = lighten($sidebar-background-color, 2)
$code-background-color      = #ddd
$code-text-color            = #2d383d
$title-text-color           = $accent-color
$button-background-color    = $accent-color
$table-odd-background-color = #eee
$chart-meta-color           = #889eae
$links-color                = $accent-color

$code-number-color          = #eb8404
$code-string-color          = #199384
*/